<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <title>Sloogle</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="//cdn.rawgit.com/angular-ui/ui-router/0.2.18/release/angular-ui-router.min.js"></script>
    <script src="/public/js/app.js"></script>
    <script src="/public/js/controllers/config.js"></script>
    <script src="/public/js/services/config.js"></script>
    <!-- ADD ANY OTHER DEPENDANCIES HERE -->
</head>

<body>
    <div ng-app="sloogle">
        <div ui-view></div>
    </div>
</body>

</html>